/*  Copyright 2011, 2012 Mike Bell and Paul Danos

    This file is part of 20Swiss.
    
    20Swiss is free software: you can redistribute it and/or modify it under the
    terms of the GNU Affero General Public License as published by the Free
    Software Foundation, either version 3 of the License, or (at your option)
    any later version.

    20Swiss is distributed in the hope that it will be useful, but WITHOUT ANY
    WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
    FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for
    more details.

    You should have received a copy of the GNU Affero General Public License
    along with 20Swiss.  If not, see <http://www.gnu.org/licenses/>.
*/

/* setup */

@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);

body {
    margin: 0;
	padding:0;
	border:0;
    background: #fff;
    font-size: 100%;
    font-family: 'Oxygen Mono', sans-serif;
}

.con {
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
}
.indent {
    padding-left: 1em;
}
.light-box, .dialog, .topHeader, .mainBox { background: #e6ecf8; }

/* Fonts */
.nav, .button, .footer { font-family: 'Oxygen Mono', sans-serif; }
h1, .nav { text-align: center; }


/* Text Effects */
.warning { color: #b22; }
.header, .footer { font-size: 1.2em; font-style: italic;}
h1 { font-size: 2em; margin: 0px; font-weight: normal; clear:both;}

.button {
    font-weight: normal;
    font-size: 1em;
}

span.disabled { color: #224365; }

.cHead, .line, .topHeader, .header, .footer { text-align: center; }
.lline, .lHead, .item, label, p, li, td { text-align: left; }

/* Borders */
.topHeader { border-bottom: 1px solid #aaf; }
.mainBox   { border: none; border-radius: 0.5em;}
hr { height: 1px; color: #aaf; border: none; }

.topNav {
    position: relative;
    top: 0;
    margin-bottom: 1em;
    padding: 1em 0;
    background: #e6ecf8;
}
.footer {
    position: absolute;
    bottom: 0;
    padding 1em 0;
    background: #e6ecf8;
}

.nav {
    margin: 0.5em 0;
    font-size: 1.2em;
}

/* All Header */
.header, .footer {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.footer { padding-bottom: 1em; }

.lHead, .rHead { margin: 0 2em; }
.rHead { float: right; }
.right { float: right; }

.rBox, { float: right; }
.lBox { float: left; }
.raiseHead {
    position: relative;
    top: -2em;
}
.backHead { 
    margin-left: 1em;
    position: relative;
}

/* Text Layout */
p { margin: 1em 2em; }
.item { margin: 1em 2em; }
.item .label {
    margin-left: -1em;
    font-size: 0.8em;
}


/* Run Module */

.games-list {
    overflow: hidden;
    border-radius: 0.5em;
    margin: 1em 1em;
}
.game { 
    text-align: left; 
    padding: 1em 2em;
}
#run-module .game { cursor: pointer; }
#run-module .game:hover { background: #cde; }

.compact.dialog-form { overflow: hidden; padding: 0;}
.compact .item { margin: 0; padding: 0.2em 0.5em; }
.greyed { color: #888 }
.compact .selected {background: #cde; }
.compact .selected:hover { background: #ace; }
.compact .header { font-size: 1em; }
.compact .team { margin: 0; padding: 0.3em; background: #658ab3; }
.compact .game { padding: 0.2em 1em }
.compact .header { margin: 0 }
.compact .games-list { margin: 0.2em 1em 0.5em 1em }
.game.greyed { background: #e6ecf8; }

.status { cursor: pointer; }

.game-scheduled{ background: #b4cfed; }
.dark-box, .game-finished { background: #658ab3; }
.red-box, .game-inprogress { background: #c9a; }


.result .victor, #module .victor {
    /*background: #fc5; a83 a38*/
    display: inline-block;
    border: 2px dashed #fff;
    padding: 0.2em;
    margin: 0 0.2em;
}

.on-court {
    background: #fee;
    border: 1px solid #c99;
}

/* Page Layout */

.centerBox {
    display: inline-block;
    min-width: 60%;
    margin-left: 2em;
    margin-right: 2em;
    text-align: left;
}
.mainBox { 
    margin: 1em 0;
    padding: 0.5em;
}
.list-box {   /*center this inside of a .line */
    border-radius: 0.5em; 
    overflow: hidden; display: 
    inline-block; 
    text-align: left;
    margin: 0 1em;
} 

/* tabulated display */
.bracket {
    display: inline-block;
}

td { min-width: 100px; }
td.numeric { min-width: 40px; }
.tiny{ 
    font-size: 0.9em;
    padding-right: 0.5em;
    font-style: italic;
    position: relative;
    top: 0.3em;
}

/*.twocolor tr:nth-child(2n) { background: #ddd; }
.twocolor tr:nth-child(2n+1) { background: #aaa; }
.twocolor td {
    min-width: 100px;
}*/

/* Standings */
.standings-entry {
}
.standings .score {
    position: absolute;
    text-align: right;
    right: 0.5em;
    top: 0.25em;
}
.standings { 
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}
.standings .spacer { min-width: 1em; height: 2em;}
.standings-team { 
    white-space: nowrap;
    position: relative;
    padding: 0.5em 3em 0.5em 1em; 
    height: 100%;
    /*border-radius: 0.5em; 
    margin: 0.1em;*/
    overflow: hidden;
}

.game-number {
    padding: 0 0.1em;
    position: relative;
    bottom: -1.25em;
}
.standings-solo { 
    position: relative;
    bottom: -1.25em;
    border-radius: 0.5em;
}

.standings-top { 
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
.standings-bottom { 
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.standings .bottom-left { 
    border-bottom: 2px solid #224365;
    border-right: 2px solid #224365;
    border-radius: 0.5em;
}
.standings .top-left { 
    border-top: 2px solid #224365;
    border-right: 2px solid #224365;
}
.standings .top-right    { border-bottom: 2px solid black; }
.standings .spacer-right { 
    border-right: 2px solid black; 
    border-radius: 0.5em;
    height: 100%;
}

.standings .top {
    border-top-right-radius: 0.5em; 
    border-top-left-radius: 0.5em; 
}
.standings .bottom {
    border-bottom-right-radius: 0.5em; 
    border-bottom-left-radius: 0.5em; 
}

.standings .dark  { background: #658ab3; }
.standings .light { background: #b4cfed; }
.standings .grey { background: #ddd; border: 1px solid #888; font-style: italic; min-height: 1.2em;}
.standings .blank { background: #fff; border-bottom: 1px solid black; height: 20px;}
/*c99, 99f*/
.elim .bold { background: #c99;}

.tournament-entry {
    white-space: nowrap;
    position: relative;
    min-width: 15em;
    /*background: #87a8cc;*/
    background: #b4cfed;
    /*padding-right: 4em;*/
    margin: 1px 0;
    padding-left: 12em;
}
.tournament-entry a {
    display: inline-block;
    margin: 0.2em 0;
}
.tournament-entry .date {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0.5em 1em;
    width: 9em;
    text-align: center;
    background: #658ab3;
}

.viable {
    cursor: pointer;
}
.viable:hover {
    /*background: #a4bfcd;*/
    background: #cde;
}
.viable:hover .rank, .viable:hover .dark, .viable:hover .team-text {
    background: #fff;
}


.result { padding: 1em; }
.result, .rank-team {
    position: relative;
    margin: 1px 0;
    background: #b4cfed;
    overflow: hidden;
}
.rank-team .team-name {
    margin: 0 8em 0 6em;
    padding: 0.5em 0;
}
.rank-team .record {
    position: absolute;
    right: 1em;
    bottom: 1em;
    font-size: 0.7em;
}
.rank-team .strength {
    position: absolute;
    font-size: 0.7em;
    right: 5em;
    bottom: 1em;
    text-align: right;
}
.rank-team .rank {
    position: absolute;
    left: 0;
    text-align: center;
    width: 4em;
    padding: 0.5em 0;
    overflow: hidden;
}
.num-details {
    margin-left: -1em;
    display: inline-block;
    vertical-align: top;
}

.clear {
    clear: both;
}

.teams-list {
    width: 100%;
}
.team { 
    position: relative;
    overflow: auto;
    /*background: #87a8cc;*/
    background: #b4cfed;
    margin: 1px 0;
}
.team-text {
    display: inline-block;
    width: 15em;
    background: #658ab3;
    padding: 1em;
    min-height: 1.5em;
    float: right;
}
.team-name {
    white-space: nowrap;
}
.info {
    display: inline-block;
    padding: 1em;
}
.dark-ctr {
    text-align-right;
}
.dark {
    background: #658ab3;
}

.rank {
    display: inline-block;
    padding: 0.5em 1em;
    height: 100%;
    min-width: 2em;

    text-align: center;
    margin-right: 1em;
    background: #658ab3;
}

/* Run Tournament */
    .losers, .rematch { background: #9af; }
    .played { background: #ccc; }
    .played.losers { background: #aaa; }

    .playing { background: #ebb; }
    .game * { vertical-align: middle; }
    .middle { vertical-align: bottom; }

/* Forms and Input */
    form { margin: 0; display: inline;}
    textarea, input, .nav a, .button, select {
        margin: 3px;
        padding: 3px 5px 3px 5px;
        background: #b4cfed;
        border: none;
        border-radius: 0.3em;
    }
    .nav a, .button {
        display: inline-block;
        text-decoration:none;
        text-align: center;
        min-width: 60px;
        color: #224369;
    }
    a:visited, a:active, a:link {
        text-decoration:none;
        color: #224365;
    }

    .button.disabled {
        color: #68819b;
        cursor: default;
    }
    a.selected, input.selected { 
        background: #658ab3; 
    }
    a { padding: 0.3em; }
    a:hover { background-color: #cde; border-radius: 0.2em;}
    input:hover, .button:hover, .nav a:hover {
        color: #224365;
        background: #97bfed;
        /*background: #cde;*/
    }
    .button.disabled:hover {
        color: #68819b;
        background: #b4cfed;
    }


    input.numeric {
        width: 6em;
    }
    small {
        display: block;
        font-size: 0.8em;
        margin: 0;
    }
    label {
        display: block;
        font-size: 0.8em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    label input, label select {
        display: block;
    }

    /* Links and Buttons */
        .toggle, .button {
            cursor: pointer;
        }
        .btnCtr {
            min-width: 30px;
            text-align: center;
        }
        .btnRSS {
            background: url(/img/feed-icon-28x28.png) no-repeat;
            height: 28px;
            width: 28px;
            display: block;
        }

        a.hot, input.hot { background: #ebb; }

        textarea.medium { width: 30em; height: 10em; }
        input.wide { width: 200px; }
        input.short { width: 50px; }

        a.spaced { margin: 5px 10px 5px 10px }

/* header footer */

#header {
	clear:both;
	float:left;
	width:100%;
	border-bottom: 1px solid #000;
	padding: 10px 0 10px 0;
	margin: 0 0 10px 0;
}

#footer {
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid #000;
}

/* Edit Games */
#edit-games {
    margin-top: 1em;
    padding: 0.5em 0;
}

/* Modal Dialog */
.window-overlay { 
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #000;
    /*transition: opacity 0.2s ease-in-out;*/
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 1001;
}

.dialog { 
    position: fixed;
    min-width: 20em;
    border-radius: 0.5em;
    z-index: 1002;
    min-height: 5em;
    padding: 1em;
    overflow: hidden;
    text-align: center;
}

.dialog-text { 
    margin: 0.5em 0 1em 0;
    font-size: 1.2em; 
    font-style: italic;
    text-align: center; 
}
.dialog-status {
    cursor: pointer;
    margin: 1em -1em;
    font-size: 1.2em;
    padding: 1em;
}
.dialog-line {
    text-align: left;
}
.dialog .dark-head {
    background: #658ab3;
    margin: 1em -1em;
    padding: 1em 0;
}

.dialog-team {
    white-space: nowrap;
    text-align: right;
    min-width: 5em;
    padding: 1em;
    margin-left: 10em;
}
input.dialog-score {
    text-align: center;
    background: #658ab3;
    border: none;
    border-radius: 0;
    width: 2.5em;
    min-height: 2em;
    font-size: 1.2em;
    margin-top: -0.2em;
}
.dialog-buttons { margin-top: 1em; text-align: left; }
.rt-button { float: right; }
.dialog-form {
    text-align: left;
    border: 2px dashed #4f6c8c;
    /*border: 2px solid #ace;*/
    border-radius: 0.5em;
    padding: 0.5em;
}


