/*  Copyright 2011, 2012 Mike Bell and Paul Danos

    This file is part of 20Swiss.
    
    20Swiss is free software: you can redistribute it and/or modify it under the
    terms of the GNU Affero General Public License as published by the Free
    Software Foundation, either version 3 of the License, or (at your option)
    any later version.

    20Swiss is distributed in the hope that it will be useful, but WITHOUT ANY
    WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
    FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for
    more details.

    You should have received a copy of the GNU Affero General Public License
    along with 20Swiss.  If not, see <http://www.gnu.org/licenses/>.
*/

/* setup */
body {
	margin: 1em 0;
	padding:0;
	border:0;
	width:100%;
	background:#fff;
    font-size: 100%;
    font-family: 'Rokkitt', serif;
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
}
.dialog, .topHeader, .mainBox { background: #eee; }

/* Fonts */
.dialog-text, .textBox, .nav, .button, .header, .footer { font-family: 'Rosario', sans-serif; }

/* Text Effects */
.warning { color: #b22; }
.header, .footer { font-size: 1.2em; font-style: italic;}
h1 { font-size: 2em; margin: 0px; font-weight: normal; clear:both;}
.button, .nav a {
    font-weight: normal;
    font-size: 1em;
}

span.disabled { color: #224365; }

.cHead, .line, .topHeader, .header, .footer { text-align: center; }
.lHead, .subBox, .item, label, p, .textbox, li, td { text-align: left; }

/* Borders */
.topHeader { border-bottom: 1px solid #aaf; }
.mainBox, .subBox { border: 1px solid #aaf; border-radius: 0.5em;}
.game { text-align: left; margin-left: 1em; }
hr { height: 1px; color: #aaf; border: none; }

ol { 
    list-style: none;
    margin: 0em;
    padding: 0em;
    padding-left: 1em;
}
ol.spaced li {
    margin-bottom: 0.5em;
}

.topNav {
    position: relative;
    top: -0.5em;
}

.nav {
    margin: 0.5em 0;
}

/* All Header */
.header, .footer {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.footer { padding-bottom: 1em; }

.lHead, .rHead { margin: 0 2em; }
.rHead { float: right; }

.rBox, { float: right; }
.lBox { float: left; }
.raiseHead {
    position: relative;
    top: -2em;
}
.backHead { 
    margin-left: 1em;
    position: relative;
}

/* Text Layout */
p, .line { margin: 0.5em 0 0.5em 0; }
.item { margin: 1em; }


.game-box:first-child { border: none; }
.game-box { padding: 1em 0.5em; border-top: 1px solid #aaf; }
.game-team { 
    display: inline-block;
    font-size: 1.2em;
    margin: 0 0.5em;
}

.victor, .on-court { 
    display: inline-block;
    padding: 0.2em 0.5em;
    border-radius: 2px;
}

.victor {
    background: #eef;
    border: 1px solid #aaf;
}
.on-court {
    background: #fee;
    border: 1px solid #c99;
}

/* Page Layout */

.centerBox {
    min-width: 60%;
    margin-left: 2em;
    margin-right: 2em;
}
.textBox { 
    margin-left: auto;
    margin-right: auto;
    width: 60%; 
}
.mainBox { 
    margin: 1em 0;
    padding: 0.5em ;
}
.centerBox .team { min-width: 20%; }

.subBox { 
    margin-bottom: .5em;
    padding-left: 2em;
}

.cBox { 
    display:inline-block;
    padding: 0.2em;
    margin-left: 0.5em;
}

.game { min-height: 3em; }

/* tabulated display */
table {
    margin-left: auto;
    margin-right: auto;
}

td {
    height: 40px;
    min-width: 100px;
}

td.spacer  { min-width: 5px; }
td.numeric { min-width: 40px; }
.tiny{ 
    font-size: 0.9em;
    padding-right: 0.5em;
    font-style: italic;
    position: relative;
    top: 0.3em;
}

.twocolor tr:nth-child(2n) { background: #ddd; }
.twocolor tr:nth-child(2n+1) { background: #aaa; }
.twocolor td {
    height: 40px;
    min-width: 100px;
}

.standings .score { 
}

.standings .dark  { background: #ddd; }
.standings .light { background: #aaa; }
.standings .blank { background: #fff; border-bottom: 1px solid black; height: 20px;}
.elim .bold { background: #99f;}

.swiss tr:nth-child(2) { border-bottom: 1px solid black; }
.standings tr:first-child { background: #bbf; } 
/*.elim tr:nth-child(2n+3) { background: #68819b;}
.elim tr:nth-child(2n+4) { background: #bbf;}*/
.swiss tr:nth-child(2n+4) { background: #ddd; }
.swiss tr:nth-child(2n+3) { background: #aaa; }
.swiss tr:nth-child(2n+3) .bold { background: #68819b;}
.swiss tr:nth-child(2n+4) .bold { background: #bbf; }

/*  TODO: get rid of these ASAP */
table { border-collapse:collapse; }
table.list { width: 100%; }
th { text-align: center; padding: 0.2em; font-size: 1.2em; }
td { padding: 0 5px 0 5px; }
td.right { text-align: right; }
td.center, td.numeric { text-align: center; }

/* Run Tournament */
    .losers, .rematch { background: #9af; }
    .played { background: #ccc; }
    .played.losers { background: #aaa; }

    .playing { background: #ebb; }
    .game * { vertical-align: middle; }
    .middle { vertical-align: bottom; }
    .team {
        display: inline-block;
        padding: 3px 10px 3px 10px;
        text-align: center;
    }


/* Forms and Input */
    form { margin: 0; display: inline;}
    input, .nav a, .button, select {
        /*margin: 0.1em;*/
        /*padding: 0.1em 0.2em 0.1em 0.2em;*/
        margin: 3px;
        padding: 3px 5px 3px 5px;
        background: #ddd;
        border: 1px solid black;
        border-radius: 0.3em;
    }
    input.numeric {
        width: 6em;
    }
    small {
        display: block;
        font-size: 0.8em;
        margin: 0;
    }
    label {
        display: block;
        font-size: 0.8em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    label input, label select {
        display: block;
    }

    /* Links and Buttons */
        .toggle, .button {
            cursor: pointer;
        }
        .btnCtr {
            min-width: 30px;
            text-align: center;
        }
        .btnRSS {
            background: url(/img/feed-icon-28x28.png) no-repeat;
            height: 28px;
            width: 28px;
            display: block;
        }

        a:visited, a:active, a:link {
            text-decoration:none;
            color: #224365;
        }

        .button:hover, a:hover { color: #68819b; }

        .button.disabled {
            color: #68819b;
            cursor: default;
        }

        .nav a, .button {
            display: inline-block;
            text-decoration:none;
            text-align: center;
            color: #224365;
            min-width: 60px;
        }

        a.selected, input.selected { background: #aaa; }
        a.hot, input.hot { background: #ebb; }

        input.wide { width: 200px; }
        input.short { width: 50px; }

        a.spaced { margin: 5px 10px 5px 10px }

/* header footer */

#header {
	clear:both;
	float:left;
	width:100%;
	border-bottom: 1px solid #000;
	padding: 10px 0 10px 0;
	margin: 0 0 10px 0;
}

#footer {
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid #000;
}

/* Modal Dialog */
    .window-overlay { 
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: #000;
        /*transition: opacity 0.2s ease-in-out;*/
        opacity: 0.5;
        width: 100%;
        height: 100%;
        z-index: 1001;
    }

    .dialog { 
        position: fixed;
        top: 50%;
        left: 50%;
        overflow: auto;
        width: 20em;
        margin-left: -10em;
        margin-top: -3em;
        border-radius: 0.5em;
        border: 1px solid #aaf;
        z-index: 1002;
        min-height: 5em;
        padding: 1em;
    }

    .dialog-text { 
        margin: 1em 0; 
        min-height: 3em; 
        font-size: 1.2em; 
        font-style: italic;
        text-align: center; 
    }
    .dialog-buttons { margin-top: 1em; text-align: left; }
    .rt-button { float: right; }


